# Configuración del servidor
PORT=3000

# MongoDB Atlas
DB_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/mi-base-de-datos?retryWrites=true&w=majority

# JWT
JWT_SECRET=MiClaveSecretaSuperSegura_CambiarEnProduccion_32chars
JWT_EXPIRES_IN=2h
